/*  If you're reading this, 
    I copied this from "https://omishi.neocities.org/".
    Maybe one day I'll learn how to be orignal. -alouneri
*/
body {
  background-color: pink;
  color: black;
  font-family: Verdana;
  font-size: 18px;
  line-height: 1.4;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 900px;
  margin: auto;
  }
  h1,h2,h3 {
    line-height:1.2;
  }
  .shimeji {
    text-align: center;
  }
  .button {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  .center{
      margin-left: auto;
      margin-right: auto;
  }
  .dialog {
    background-color: pink;
  }